* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 500px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
}

.err {
  color: red;
  margin-left: 20px;
  margin-top: 20px;
}

.selection select {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.selection button {
  width: 200px;
  height: 50px;
}

.list table {
  margin-left: 20px;
  margin-top: 20px;
  width: 320px;
}

.exchange, .history {
  margin-top: 70px;
}

.options {
  display: flex;
  align-items: center;
}

.selection input {
  width: 100px;
  height: 50px;
  padding: 5px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.exchange .result {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  padding: 5px;
  margin-left: 20px;
}

.history .selection button {
  margin-left: 20px;
  margin-top: 20px;
}